@font-face {
  font-family: 'Suisse';
  src: url('../fonts/SuisseIntl.woff2') format('woff2'),
    url('../fonts/SuisseIntl.woff') format('woff');
}

@font-face {
  font-family: 'Suisse Light';
  src: url('../fonts/SuisseIntl-Light.woff2') format('woff2'),
    url('../fonts/SuisseIntl-Light.woff') format('woff');
}

@font-face {
  font-family: 'Suisse SemiBold';
  src: url('../fonts/SuisseIntl-SemiBold.woff2') format('woff2'),
    url('../fonts/SuisseIntl-SemiBold.woff') format('woff');
}
